body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1.1;
	vertical-align: baseline;
}

html {
	font-family: "Helvetica Neue",HelveticaNeue, Helvetica, Arial, sans-serif;
	color: #666;
}

h1,h2,h3,h4,h5,h6 { font-weight: normal; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset,img,input,select { border: 0; }

ol,ul { list-style: none; }

a { outline: none; text-decoration: none; }

img { vertical-align: middle; }

p { font-size: 11px; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

@font-face {
    font-family: EmiratesSB;
    src: url('Emirates_SB.eot');
    src: url('Emirates_SB.eot?#iefix') format('embedded-opentype'), url('Emirates_SB.ttf') format('truetype');
}

/*@font-face
{
font-family: EmiratesSB;
src: url('Emirates SM.otf');

}

@font-face
{
font-family: EmiratesSB;
src: url('Emirates PB.otf');

}

@font-face
{
font-family: EmiratesSB;
src: url('Emirates PM.otf');

}*/

@font-face {
    font-family: HelveticaNeue;
    src: url('helvetica-neue1.eot');
    src: url('helvetica-neue1.eot?#iefix') format('embedded-opentype'), url('helvetica-neue1.ttf') format('truetype');
}


/*@font-face
{
font-family: HelveticaNeue;
src: url('helvetica-neue-lt-com-65-medium.ttf');

}

@font-face
{
font-family: Helvetica; font-weight: bold;;
src: url('helvetica-neue-bold.ttf');

}*/

/* --- Main --- */
.container {
	width: 961px;
	margin: 0 auto;
	clear:both;
}

.top-bar {
	background: url(../Images/manage_account/fare_families/Boarding_Pass/top-gr-nonSkywardsiO.jpg) no-repeat;
	height: 14px;
	width: 100%;
}

/* --- Header --- */
.header {
	margin-bottom: 35px;
	padding: 0px 23px 0px 48px;
	overflow: hidden;
}

.logo {
	float: left;
	padding-top:10px;
	padding-bottom:7px;
}

.logoImage
{
	height:112px;
	width: auto;
}

h1 {
	font-family: "Emirates SB",EmiratesSB, sans-serif;
	float: left;
	padding: 60px 0px 0px 81px;
	font-size:31px;
	color: #c33;
}


.barcode-section {
	position: relative;
	float: right;
	margin-top: 10px;
}

.seq-num {
	position: absolute;
	right: 103%;
	font-size: 17px;
	text-transform: uppercase;
	white-space: nowrap;
}

.seq-num-pass {
	/*margin: 16px 0px 37px 241px;16px 0px 37px 195px;*/
	margin-top:16px;
	margin-bottom:37px;
	margin-left:125px;
	color: #666666;
	font-size: 18px;
	text-transform: uppercase;
	white-space: nowrap;
	float:right;
}
.tsaprecheck {
	margin-top:16px;
	margin-bottom:37px;
	margin-left:125px;
	color: #666666;
	font-size: 18px;
	text-transform: uppercase;
	white-space: nowrap;
	float:left;
}

.barcode-section img {
	margin-bottom: 10px;
}

.barcode-text {
	width: 260px;
	margin-bottom: 11px;
	text-align: center;
	font-size: 9px;
	color: #666666;
}

.barcode-text p {
	font-size:10px;
	color: #666;
}

.barcode-text p span {
	font-size: 16px;
	color: #333;
}

p span.e-ticket {
	font-weight: normal;
	color:#666666;
	font-size: 14px;
}

.header-text-boxes {
	position: relative;
	overflow: hidden;
	padding-left: 58px;
	padding-bottom: 0px;
	min-height:115px;
}

.header-text-boxes .box {
	float: left;
}

.header-text-boxes .big.box {
	width:217px;
	padding-right:44px;
}

.header-text-boxes .big.box.last {
	width: 150px;
	padding-right:0;
}
.header-text-boxes .small.box {
	width:136px;
	padding-right: 75px;
}

.header-text-boxes .small.box .big-up {
	padding-bottom: 10px;
	display: block;
}

.header-text-boxes .small.box .big-up.last {
	padding-bottom: 0;
}

.header-text-boxes .small.box a {
	text-decoration: underline;
	color: #333;
}

.header-text-boxes .box p.info {
	padding-top: 10px;
}

.header-text-boxes .box p {
	line-height: 1.3;
}

.header-text-boxes .box p:first-child,
.header-text-boxes .box p.info {
	padding-bottom: 2px;
}

.header-text-boxes .box p span {
	color: #666666;
	/*color: #333;*/
}

.header-text-boxes .box p span.big-up {
	font-size:13px;
	text-transform: uppercase;
	font-family: "Helvetica Neue",HelveticaNeue;
}

.header-text-boxes .box p span.badgeTop {
	/*margin-left: 60px;*/
}

.header-text-boxes .box p span.disclaimer {
	font-size:9px;
	font-style: italic;
}

.header-text-boxes .box p span.big {
	font-size: 13px;
	font-family: "Helvetica Neue",HelveticaNeue;
}

.header-text-boxes .box p span.it {
	font-style: italic;
	font-size: 10px;
}

span.badgeSkywards {
	display: block;
	float: left;
	margin-right: 12px;
	margin-top: 3px;
}

.badgeSkywardsRight {
	float: right;
	width: 152px;
}

.add-text .badgeSkywardsRight {
	width: 130px;
}

/* --- Content --- */
.boarding-pass {
	height: 360px;
	overflow: hidden;
	background: url(../Images/manage_account/fare_families/Boarding_Pass/boarding-pass-bgr-bottom.png) no-repeat right center;
}

.boarding-pass-top {
	background: url(../Images/manage_account/fare_families/Boarding_Pass/fold-here-bgr.png) no-repeat 0 0;
	height:47px;
	width: 360px;
}

.logo-small {
	float: left;
}

.logo-smallImage {
	height:112px;
	width: 79px;
}

.boarding-pass-top p {
	position: absolute;
	top: 10px;
	right: 8px;
	font-size: 9px;
	color: #c0bbaf;
	font-weight: bold;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)\9;
	top:8px\9;
	right:300px\9;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)\0/; 
	top:8px\0/;
    right:300px\0/;
}

.boarding-pass-top-bgr {
	background: url(../Images/manage_account/fare_families/Boarding_Pass/bording-pass-gr-nonSkywardsiO.jpg) no-repeat 0 0;
	height:11px;
	width: 360px;

}

.header-pass.blue h2 {
	font-family: "Emirates SB",EmiratesSB, sans-serif;
	color: #305291;
	font-size: 34px;
	margin: 24px 0px 0px 163px;
}

.header-pass.green h2 {
	font-family: "Emirates SB",EmiratesSB, sans-serif;
	color: #238459;
	font-size: 34px;
	margin: 24px 0px 0px 163px;
}

.header-pass.red h2 {
	font-family: "Emirates SB",EmiratesSB, sans-serif;
	color: #cc3300;
	font-size: 32px;
	margin: 24px 0px 0px 100px;
}

.farebrand {
	font-family: "Emirates SB",EmiratesSB, sans-serif;
	color: #cc3300;
	font-size: 32px;
    position:fixed;
    margin-left:240px;    
    font-size:small;
    font-weight:bold;    
}


.rotated-section {
	position: relative;
	top: 100%;
	width: 360px;
    -webkit-transform:rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform:rotate(-90deg);

    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;

	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)\9; 
	left: 0\9;
	top: 0\9;
	background-color:#fff\9;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)\0/; 
    left: 0\0/;
	top: 0\0/;
	background-color:#fff\0/;
}

.rotated-header {
	overflow: hidden;
	padding: 0px 10px 30px 16px;
}
.fight-info{clear:both;}
.ebp-num {
    padding-top:0 !important;
}

.rotated-content {
	padding: 0px 14px 16px 14px;
}

.rotated-content .flight-num, .rotated-content .flight-departure-date, .rotated-content .flight-departure-time {
	float: left;
}

.flight-departure-time p {
	padding-top: 4px;
}

.rotated-content .fight-info p{
	color:#666666;
	font-size:11px;
	font-weight: normal;
}

.gate-seat-zone p {
	color:#666666;
	font-size:11px;
	font-weight: normal;
	}

.gate-seat-zone p span.numbers {
	font-size:35px;
	color: #333;
	line-height:47px;
	padding-top: 2px;
	display: block;
	font-family: Helvetica; font-weight: bold;
}

.gate-seat-zone p span.numbers.modified {
	margin-left: -4px;
}


.gate-seat-zone .gate{
	padding-right:50px;/*23px;*/
}

.gate-seat-zone .seat {
	padding-right:30px;/*40px;*/
}


span.boarding-time-icon {
	background: url('../Images/manage_account/fare_families/Boarding_Pass/boarding-time.png') no-repeat;
	height: 24px;
	width: 28px;
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-top: 13px;
	margin-right: 24px;
}

.boarding-start, .gate-close {
	float: left;
}

.boarding-start {
	padding-right: 38px;/*17px;*/
}


.boarding-start p, .gate-close p {
	color: #666666;
	font-size:11px;
	font-weight: normal;
}

.boarding-time {
	padding-top:10px;

}
.extra-info {
	border-bottom: 1px solid #d9cfc3;
	padding-bottom:12px;
	padding-left: 6px;
}



.from-to {
	border-top: 1px solid #d9cfc3;
	margin-top:12px;
	padding-top:14px;
}

.from-to p {
	color: #666666;
	font-size:11px;
	font-weight: normal;
}

.from-to p span.names {
	font-size: 21px;
	color: #333;
	font-family: Helvetica;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	padding-top: 2px;
	line-height: 23px;
}

.departure-to {
	margin-top:1px;
}

span.departure-from-icon {
	background: url('../Images/manage_account/fare_families/Boarding_Pass/departure-from-icon.png') no-repeat;
	width:50px;
	height:27px;
	display: inline-block;
	float:left;
	margin-right:11px;
	margin-top: 2px;
}


span.departure-to-icon {
	background: url('../Images/manage_account/fare_families/Boarding_Pass/flying-to-icon.png') no-repeat;
	width:50px;
	height:27px;
	display: inline-block;
	float:left;
	margin-right:11px;
	margin-top: 2px;
}

.boarding-time p span.numbers {
	font-size: 35px;
	color: #333;
	line-height:38px;
	display: block;
	padding-top: 1px;
	font-family: Helvetica; font-weight: bold;;
}

.rotated-content .fight-info p span.data {
	font-size:23px;
	font-family: Helvetica; font-weight: bold;;
	color: #333;
	line-height:24px;
}

.flight-num {
	width:40px;
	padding-right:66px;
}

.flight-num p {
	padding-top: 4px;
}

.flight-departure-date {
	width:133px;
	padding-right:2px;
}

.flight-departure-date p {
	padding-top: 4px;
}

.passanger-info {
	margin-top:15px;
	padding-bottom:20px;
}

.passanger-info p{
	color:#666666;
	font-size:11px;
	font-weight: normal;

}

.passanger-info p span.details {
	font-size:17px;
	color:#333;
	text-transform: uppercase;
	font-family: "Helvetica Neue",HelveticaNeue;
	line-height:19px;

}


.passanger-info p span.infant {
	background: url('../Images/manage_account/fare_families/Boarding_Pass/infant-icon.jpg') no-repeat;
	width:15px;
	height:20px;
	display: inline-block;
	vertical-align: top;
	margin-left: 2px;
}
.gate-seat-zone .gate, .gate-seat-zone .seat, .gate-seat-zone .zone {
	float: left;

}

span.departure-icon {
	float: left;
	background: url('../Images/manage_account/fare_families/Boarding_Pass/departure-icon.jpg') no-repeat;
	width:28px;
	height:19px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 9px;
	margin-top:16px;
	margin-right:24px;
}

.promotions-text {
	padding-top:14px;
	padding-bottom:14px;
	float: left;
	margin-right:53px;
}

.promotions-text p.first{
	margin-bottom: 10px;
	font-family: "Emirates SB",EmiratesSB;
}

.promotions-text p {
	color: #c0864b;
	font-size:11px;
	line-height: 17px;
	font-family: "Emirates SB",EmiratesSB;
}

.promotions-text p a{
	color: #c0864b;
	font-size:11px;
	line-height: 4px;
	text-decoration: none;
}

.promotions-text p span{
	color: #c0864b;
	font-size:11px;
	line-height: 4px;
}

.badgeContainer {
	padding-top:14px;
	padding-bottom:14px;
	float: left;
	width: 192px;
	min-height:80px;
}

.badgeContainer span.details {
	font-size: 16px;
	color: #333;
	line-height: 24px;
	font-weight: normal;
	font-family: "Helvetica Neue",HelveticaNeue;
}

.badgeContainer p.space {
	margin-top: 4px;
}

.badgeContainer span.badgeSkywards {
	margin-top: 0px;
}
.additional-info {
	padding-top:13px;
	float: left;
	width: 120px;
letter-spacing:0 !important;

}

.add-text {
	width:360px;
}

.additional-info p {
	font-size:11px;
	color: #666666;
	font-weight: normal;

}

.additional-info p span {
	font-size: 18px;
	color:#666666;
	line-height: 24px;
	font-weight: normal;
	font-family:Helvetica !important;
	letter-spacing:0 !important;
	/*color: #333;*/
}

.rotated-footer {
	padding: 0px 6px 0px 6px;
	text-align: center;
}

.rotated-footer p {
	font-size: 12px;
	padding: 0 20px 0 20px;
	line-height: 15px;
	font-family:Helvetica !important;
	/*text-align:left;
	height:65px;*/
}

.rotated-footer p.disclaimer {
	line-height: 10px;
	font-size: 8px;
	color:#666666;
	font-family: "Helvetica Neue",HelveticaNeue;
	padding: 10px 20px 0 20px;
	/*text-align:left;*/
}

.rotated-footer .title {
	margin-bottom: 15px;
	font-size: 16px;
	font-family: "Emirates SB",EmiratesSB;
}

.blue .rotated-footer .title {
	color: #377cb4;
	padding: 0 25px;
	line-height: 23px;
}

.rotated-footer .title.blue {
	color: #377cb4;
	line-height: 23px;
	padding: 0 25px;
}


.rotated-footer .title.red {
	color: #bf2426;
	line-height: 23px;
	padding: 0 25px;
	min-height:50px;
	/*text-align:left;*/
}


.rotated-footer .barcode-section {
	float: none;
	display: inline-block;
	text-align:center;
	position:static\9;
	position:static\0/;
}

span.baggage-icon {
	background: url('../Images/manage_account/fare_families/Boarding_Pass/baggage-icon.svg') no-repeat;
	width: 17px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 6px;
	margin-left: 2px;
	margin-right: 3px;
}

.check-graph {
	background: url('../Images/manage_account/fare_families/Boarding_Pass/process-graphic-io.jpg') no-repeat 14px 25px;
	width: 961px;
	height: 275px;
	position: relative;
	line-height: 0;
}

img.badge {
	float: left;
	margin-right: 10px;
	margin-top: 4px;
}

.boxes-text {
	line-height: 0;
}

.boxes-text p {
	width: 172px;
	line-height: 16px;
	font-size:11px;
	font-family: Helvetica;/*"Helvetica Neue",HelveticaNeue;*/
	color: #666666;
	letter-spacing:0 !important;
}

.boxes-text p.first {
    position: absolute;
    top: 120px;/*WCAG S732822*/
    left: 79px;
    border-right: 1px dotted #c0bbaf;
    height: 133px;
    padding: 5px 17px 5px 0;

}

.boxes-text p.second {
    position: absolute;
    top: 120px;/*WCAG S732822*/
    left:300px;
    border-right: 1px dotted #c0bbaf;
    height: 133px;
    padding: 5px 19px 5px 0;
}

.boxes-text p.thirth {
    position: absolute;
    top: 120px;/*WCAG S732822*/
    left:521px;
    border-right: 1px dotted #c0bbaf;
    height: 133px;
    padding: 5px 16px 5px 0;
}

.boxes-text p.fourth {
    position: absolute;
    top: 120px;/*WCAG S732822*/
    left:741px;
    padding: 5px 27px 5px 0;
}

.check-graph .fold p{

	color: #c0bbaf;
	font-family: Helvetica, Arial, sans-serif;
	font-size:9px;
	font-style: italic;
	font-weight: bold;
	left: 10px;
	position: absolute;
	top: 61px;
	-webkit-transform:rotate(-90deg);
    -moz-transform: rotate(-90deg);
	-ms-transform:rotate(-90deg);
	transform:rotate(-90deg);

	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;

	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)\9;
	top:8px\9;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)\0/; 
	top:8px\0/;
}

.baggageMassage {
	height: 93px;
	border-top: dotted #c0bbaf 1px;
	width: 961px;
	background:url(../Images/manage_account/fare_families/Boarding_Pass/baggage-massage-bgr.png) no-repeat 0 0px;
}

.baggageMassage p.title {
	color:#666666;
	font-size: 10px;
	line-height: 10px;
	padding-left: 97px;
	background:url(../Images/manage_account/fare_families/Boarding_Pass/important-icon.jpg) no-repeat 80px 17px;
	padding-top: 20px;
	padding-bottom: 5px;
	font-family:Helvetica;
}

.baggageMassage p.title span {
	font-weight: bold;
}

.baggageMassage p.content {
	color:#333;
	font-size: 10px;
	font-family: "Helvetica Neue",HelveticaNeue;
	line-height: 12px;
	padding-left: 80px;
	padding-bottom: 15px;
}

.checkin-section {
	padding-left: 16px;
	padding-bottom: 6px;
	border-bottom: dotted #c0bbaf 1px;
}

.checkin-process {
	margin-bottom: 4px;
}

/* --- Footer --- */
.footer {
	background-color:#efefef;
	height: 287px;/*224px;*/
	width: 961px;
	position: relative;
	line-height: 0;
	/*background: url('../Images/manage_account/fare_families/Boarding_Pass/footer-bgr.png') repeat-x;*/ 
}

.footer  .fold p {
	color: #c0bbaf;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9px;
	font-style: italic;
	font-weight: bold;
	left: 10px;
	position: absolute;
	top: 61px;
	-webkit-transform:rotate(-90deg);
    -moz-transform: rotate(-90deg);
	-ms-transform:rotate(-90deg);
	transform:rotate(-90deg);

	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;

	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)\9;
	top:8px\9;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)\0/; 
	top:8px\0/;
}

.footer-boxes {
	padding: 6px 0px 12px 16px;
}

.image-boxes {
	padding: 30px 0px 17px 78px;

}


.image-boxes .text {
	float: left;
	width: 180px;
	position: relative;
	padding-right:54px;
}

.image-boxes .text p.ribonText {
	position: absolute;
	top: 91px;
	font-family: "Emirates SB",EmiratesSB;
	color: #ffffff;
	font-size: 13px;
	line-height: 13px;
	padding: 0;
	margin: 0;
}
.image-boxes .text p.ribonText.first {
	left: 10px;
}

.image-boxes .text p.ribonText.second {
	left: 10px;
}

.image-boxes .text p.ribonText.third {
	left: 10px;
}

.image-boxes .text p.ribonText.fourth {
	left: 10px;
}

.image-boxes .text.one {
	padding-right:47px;
}


.image-boxes .text.tree {
	padding-right:44px;
}


.image-boxes .text.lastCol {
	padding-right:0 ;
}

.image-boxes .text p {
	font-size:11px;
	color: #545454;
	line-height: 16px;
	padding: 12px 0px 0px 3px;
}

.footer-bottom-section {
	overflow: hidden;
	padding-bottom: 15px;
	padding-left: 255px;
    padding-top: 1px;
}

.footer-nav {
	text-align: center;
	font-size: 11px;
}



.footer-nav a {
	font-size: 11px;
	margin-left: 10px;
	margin-right: 10px;
	color: #333;
	font-family: Helvetica; font-weight: bold;, Helvetica, Arial, sans-serif;
	text-decoration:underline;
}

.copyright {
	color: #333;
	float: right;
	font-size: 6px;
}

.copyright p{
	font-size: 7px;
}

.jContent .boxInfo p.flightNumber,
.eTicketSection .contentSection p a,
.jContent .boxInfo p.flightSeat,
.jContent .boxInfo p.flightCategory,
.jContent .boxInfo p.flightHour,
.departureInfo p.title,
departureInfo p.description,
.jContent .info p.coupon span,
.baggagePolicy p.title,
.passangerRoutBaggage p.title,
.fareInfo .fareInfoContent .textInfo p
{font-weight:bold;font-family:helvetica;}


.jContent .boxInfo p.flightNumber {
line-height:19px;
}


.bookingReference p{
font-family: Helvetica;
padding:2px 0 2px 48px;
}


.jContent .boxInfo p.flightSeat{
line-height:30px;
}


.jContent .boxInfo p.flightDate, .destinationSubHeading p {
font-family:"Helvetica Neue",HelveticaNeue
}


j.Content .boxInfo p.flightHour{
line-height:20px;
}

.departureInfo p.title{
padding-top:4px
}


.addInfoRight p.addInfo{
font-family:"Helvetica Neue",HelveticaNeue;
font-weight:bold;
font-size: 12px;
}


.availableOptions p{
color:rgb(178, 167, 161);
font-family:"Emirates SB",EmiratesSB
}


.jContent .info p.coupon{
font-family:"Helvetica Neue",HelveticaNeue;
}

p.title {
margin-bottom:7px;
}

span.adtnlInfo {
	font-size:11px !important;
	line-height:1 !important;
	letter-spacing:0 !important;
	font-family:Helvetica  !important;
}
.screenHdr
{
display: block;
page-break-before: always;
float: none;
padding: 0;
font-size: 100%;
}
@media screen and (min-width:0\0) {
	.footer .fold p,
	.check-graph .fold p {
		top: 51px;
		left: 10px;
	}
}

div.footer-links {  
	  		   display: inline-block;  
	  		   float: left;  
} 
.rotated-footer .bottomTxt{clear:both; float:left; font-weight:bold; padding-left:14px;}

.fast-track {
        color: #ffffff !important;
	    background: #B32C2D 14px 25px;
 	    font-family: "Emirates SB", EmiratesSB, sans-serif;
        font-size: 15px;
        font-weight: bold;
        padding-left: 3px !important;
	    padding-right: 3px !important;
        padding-top: 3px !important;
	    float: left;
        margin-left: 249px!important;
        margin-top: 3px!important;
}
